.table-responsive {
    width: 1900px; /* Establece el ancho fijo en píxeles */
    max-width: 100%; /* Asegura que no se salga del contenedor */
    margin: 0 auto; /* Centrar la tabla */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.table-dark {
    background-color: #343a40;
}

.table-dark th,
.table-dark td {
    border-color: #454d55;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark th {
    background-color: #454d55; /* Color de fondo oscuro */
    color: #f8f9fa; /* Color del texto claro */
    border: 2px solid #343a40; /* Borde más grueso y oscuro */
    padding: 10px; /* Añadir padding para mejorar la apariencia */
    text-align: center; /* Centrar el texto */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    background-color: #007bff; /* Color de fondo azul */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.pagination button:disabled {
    background-color: #212427a8;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    color: #343a40; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}