.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #250544cf, #0c2859bd);
    /* Fondo degradado */
    position: relative;
    z-index: 2;
    /* Asegurar que el dashboard tenga un z-index más alto */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.dashboard-title {
    margin-top: 60px;
    font-size: 24px;
    color: #333;
}

.title-bar {
    width: calc(100% - 60px); /* Ajusta el ancho para tener en cuenta los márgenes laterales */
    padding: 15px 20px; /* Ajusta el padding para un mejor espaciado */
    background: linear-gradient(135deg, #070f1e 0%, #214077 100%); /* Gradiente de fondo */
    text-align: left; /* Alinea el texto a la izquierda */
    color: white; /* Cambia el color del texto a blanco */
    margin: 20px; /* Margen superior, inferior, izquierdo y derecho */
    margin-left: 20px; /* Margen izquierdo específico */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
    display: flex; /* Usar flexbox para alinear el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
}

.title-bar h4 {
    margin: 0; /* Elimina el margen del título */
    font-size: 18px; /* Tamaño de fuente más grande */
    font-weight: 600; /* Fuente más gruesa */
}

.title-bar i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 28px; /* Tamaño de icono más grande */
}

.table-card {
    width: 100%;
    max-width: 1700px; /* Ajusta el ancho máximo de la tarjeta */
    margin: 20px auto; /* Centra la tarjeta horizontalmente */
    background-color: rgba(255, 255, 255, 0.197); /* Fondo blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Padding de 10px para la tarjeta */
}

.table-container {
    width: 100%;
    padding: 10px; /* Padding de 10px para el contenedor de la tabla */
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    .card {
        width: 100%;
        /* Hacer que las cards ocupen el 100% del ancho en pantallas pequeñas */
    }
}