.navbar {
    width: 100%;
    background-color: #080e13c1;
    padding: 10px 20px; /* Ajusta el padding para un mejor espaciado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2; /* Asegurar que el navbar tenga un z-index más alto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
    border-radius: 10px; /* Bordes redondeados */
}

.navbar-logo {
    height: 28px;
    margin-left: auto; /* Mover el logo al extremo derecho */
    margin-right: 20px;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 15px;
    transition: transform 0.3s ease; /* Transición suave para el movimiento */
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500; /* Fuente más gruesa */
    transition: color 0.3s ease; /* Transición suave para el color */
}

.navbar-item:hover {
    transform: translateY(-3px); /* Mover ligeramente hacia arriba al pasar el ratón */
}

.navbar-item a:hover {
    color: #17a2b8; /* Cambiar el color del texto al pasar el ratón */
    text-decoration: none; /* Eliminar subrayado al pasar el ratón */
}